<div class="container">
  <div class="col-md-12">
    <h4>Name:</h4>
    <p><%= @book.name %></p>

    <h4>Description:</h4>
    <p><%= @book.description %></p>
    <hr>
    <h5>This book is</h5>

    <p>
      <% if @book.secondary_user == current_user %>
        <span class="badge badge-pill badge-success">Assigned to you!</span>
      <% else %>
        <span class="badge badge-pill badge-<%= @book.not_available? ? 'danger' : 'success' %>"><%= @book.status.titleize %></span>
      <% end %>
    </p>

    <% if current_user == @book.user %>
      <span>Change book status to be</span>
      <%= link_to "#{@book.not_available? ? 'Available' : 'Not available'}", toggle_status_book_path, class: "badge badge-pill badge-#{@book.not_available? ? 'success' : 'danger'}" %>

      <br>
      <%= link_to 'Edit', edit_book_path(@book) %> |
    <% end %>

    <% if current_user && @book.user != current_user && @book.secondary_user_id.nil? %>
      <%= link_to 'Borrow this book', assign_book_path %> |
    <% end %>

    <%= link_to 'Return to books list', books_path %>
  </div>
</div>





