<nav class="main-nav navbar navbar-expand-lg navbar-light bg-light">
  <div><%= link_to "micheteca", root_path, class: "navbar-brand" %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
        <%= link_to "Register", new_user_registration_path, class: "nav-item nav-link" %>
      <% end %>
      <%= link_to "Categories", categories_path, class: "nav-item nav-link" %>
      <%= link_to "Books", books_path, class: "nav-item nav-link" %>
    </div>
  </div>
</nav>



