<!DOCTYPE html>
<html>
  <head>
    <title>teprestounlibro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if controller_name == "sessions" && resource.is_a?(AdminUser) %>
      <%= render "layouts/admin_header" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <%= render "shared/flash_messages" %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="footer-information"> 
          <%= link_to "Términos y condiciones", terms_and_conditions_path %>
          <p><small>Copyright © <%= Time.now.year %>. Todos los derechos reservados.</small></p>
        </div>
      </div>
    </footer>
  </body>

  <script>
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
      });
    }, 4000);
  </script>
</html>